/*Assets Utilidades*/
@import './assets/utilidades/componentes.css';
@import './assets/utilidades/tipografia.css';
@import './assets/utilidades/cores.css';
@import './assets/utilidades/animar-scroll.css';

/*Assets Botoes*/
@import './assets/botoes/botao-global.css';
@import './assets/botoes/botao-menu.css';
@import './assets/botoes/botao-app.css';

/*Global*/
@import './global/global.css';
@import './global/section-header.css';
@import './global/section-footer.css';

/*Home*/
@import './home/section-introducao.css';
@import './home/section-bandeiras.css';
@import './home/section-produtos.css';
@import './home/section-app.css';
@import './home/section-vantagens.css';
@import './home/section-credito.css';
@import './home/section-perguntas.css';
@import './home/section-contato.css';