/* Titulo Style */
.title{
  font: 700 3.75rem/1 "Montserrat", sans-serif;
  max-width: 20ch;
}
/* Titulo Style Span */
.title > span{
  color: #49ABFF;
}
/* Subtitulo Style */
.subtitle{
  font: 600 2.5rem/1.1 "Montserrat", sans-serif;
  max-width: 20ch;
}
/* Subtitulo Style Span */
.subtitle > span{
  color: #49ABFF;
}
/* Subtitulo Style Span */
.links-menu{
  font: 400 1rem/1 "Source Sans 3", sans-serif;
  text-transform: uppercase;
}
/* Subtitulo Style Span */
.links-menu li a{
  border: none;
  border-bottom: 2px solid transparent;
  padding: 3px;
  transition: .4s;
}
/* Texto Detalhe Style */
.text-detail{
  font: 600 1rem/1.2 "Montserrat", sans-serif;
  text-transform: uppercase;
  width: max-content;
  background-image: var(--gradient-1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
/* Span Style */
.span-text{
  font: 500 1rem/1.2 "Source Sans 3", sans-serif;
  text-transform: capitalize;
}
/* Paragrafo Style */
.paragraph{
  font: 400 1.25rem/1.1 "Source Sans 3", sans-serif;
  max-width: 65ch;
}