.perguntas-bg{
  background: #F6FAFF;
}
.perguntas h1{
  padding: 60px 0px;
}
.perguntas dl > div{
  padding: 25px;
  border-radius: 4px;
}
.perguntas dl > div:nth-child(odd){
  background-color: #D1E6FF;
}
.button-questions{
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  font: 400 1.1rem/1.1 "Source Sans 3", sans-serif;
  gap: 10px;
  cursor: pointer;
  border: none;
  background:none;
  width: 100%;
  text-align: left;
  color: var(--cor-black);
}
.button-questions::before{
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background-color:#49ABFF;
}

.button-questions::after{
  content: "";
  display: inline-block;
  width: 14px;
  height: 6px;
  background:url(../../assets/images/desktop/icons/details/seta-abrir.svg);
  transition: .3s;
}
.button-questions:hover::after,
.button-questions[aria-expanded="true"]::after{
  transform: rotate(180deg);
}
.perguntas dd{
  display: none;
  padding-left: 20px;
  padding-top: 16px;
  max-width: 100ch;
  color: var(--cor-black);
  font: 400 1.1rem/1.1 "Source Sans 3", sans-serif;

}
.perguntas dd.ativo{
  display: block;
}