:root{
  --cor-white:#FEFEFE;
  --cor-black:#111111;
  --cor-dark-blue:#172D52;
  
  --gradient-1:linear-gradient(to bottom,#ADCFEA,#72B5EB,#2993EA 100%);
  --gradient-2:linear-gradient(to right, #172D52 0%,#1F55B2 50%, #3F98E1 100%);
}

.cor-white{
  color: var(--cor-white);
}
.cor-black{
  color: var(--cor-black);
}
.cor-dark-blue{
  color: var(--cor-dark-blue);
}