.js [data-anime="itens"]{
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-50%);
  transition: all 1.8s;
}
.js .show{
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 1.8s;
}
.js .animar:nth-child(2){
  transition-delay: 400ms;
}
.js .animar:nth-child(3){
  transition-delay: 700ms;
}
.js .animar:nth-child(4){
  transition-delay: 1000ms;
}
.js .animar:nth-child(5){
  transition-delay: 1300ms;
}
.js .animar:nth-child(6){
  transition-delay: 1600ms;
}