/* Config BTN GLOBAL */
.btn-config{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  border-radius: 5px;
  color: #FEFEFE;
  z-index: 1;
  position: relative;
  transition: all 250ms;
  overflow: hidden;
  font: 600 0.875rem/1.2 'Inter', sans-serif;
  letter-spacing: 1px;
  border: 1px solid transparent;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: max-content;
}
/* Config BTN PRIMARIO FUNDO AZUL GRADIENTE */
.btn-primary{
  padding: 15px 20px;
  background: var(--cor-2);
}
.btn-primary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 10px;
  background: linear-gradient(to right, #1f55b2 0%, #172d52 100%);
  z-index: -1;
  transition: all 250ms;
}
.btn-primary:hover{
    border-color: var(--cor-1);
}
.btn-primary:hover::before {
  width: 100%;
}
/* Config BTN SECUNDARIO FUNDO AZUL E HOVER BEGE */
.btn-secundary{
  padding: 20px 60px;
  background-color: #173058;
  border: 1px solid #ffffff;
}
.btn-secundary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 5px;
  background: linear-gradient(to right, #E1A90D 0%, #947C3B 100%);
  z-index: -1;
  transition: all 250ms;
}
.btn-secundary:hover{
    border-color: #947C3B;
}
.btn-secundary:hover::before {
  width: 100%;
}
/* Config BTN APP */
.btn-app-store{
  padding: 10px 20px;
  border: 1px solid #000000;
  background-color: transparent;
  color: #000000;
  transition: .4s;
}
.btn-app-store i{
  color: #000000;
}
.btn-app-store:hover{
  color: #FEFEFE;
  background-color: #000000;
}
.btn-app-store:hover i{
  color: #FEFEFE;
}
.btn-config:hover i{
  transform: translate(5px);
}
.btn-config:hover .fa-download{
  transform: translateY(5px);
}