i{
  font-size: 1.3rem;
  cursor: pointer;
  transition: .4s;
  color: #398BCE;
}
.fa-arrow-right,
.fa-download{
  color: var(--cor-white);
}
.fa-facebook-f,
.fa-behance,
.fa-linkedin-in,
.fa-instagram,
.fa-dribbble
{
  border-radius: 50%;
  padding: 15px;
}
.fa-facebook-f:hover,
.fa-behance:hover,
.fa-linkedin-in:hover{
  background-color: #0866FF;
  color: var(--cor-white);
}
.fa-instagram:hover{
  background: linear-gradient(to right, #5C5BA5 0%,#CA3F74 50%, #FABD5A 100%);
  color: var(--cor-white);
}
.fa-dribbble:hover{
  background-color: #FFAAE7;
  color: #B7539B;
}