[data-menu="button"],
[data-menu="button-x"] {
  display: none;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--cor-dark-blue);
}
.menu-mobile-button{
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.menu-mobile-button img{
  display: none;
}
@media (max-width: 1050px) {
  .menu-mobile-button img{
    display: block;
  }
  [data-menu="button"],
  [data-menu="button-x"]  {
    display: block;
  }
  #button-hamburguer {
    display: block;
    border-top: 3px solid;
    width: 30px;
  }
  [data-menu="button"].ativo{
    display: none;
  }
  #button-hamburguer::after,
  #button-hamburguer::before {
    content: "";
    display: block;
    background: currentColor;
    width: 30px;
    height: 3px;
    margin-top: 8px;
    transition: 0.8s;
    position: relative;
  }
  #button-x::after,
  #button-x::before{
    content: "";
    display: block;
    background: currentColor;
    width: 30px;
    height: 3px;
    margin-top: 8px;
    transition: 0.8s;
    position: relative;
  }
  #button-x::before{
    transform: rotate(-135deg);
  }
  #button-x::after{
    top: -11px;
    transform: rotate(135deg);
  }
}
