*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul,li{
    padding: 0px;
    list-style: none;
}

h1,h2,h3,h4,ul,p,dd{
    margin: 0px;
}

a{
    text-decoration: none;
    color: inherit;
    width: max-content;
}

img{
    max-width: 100%;
    display: block;
    height: auto;
}