.footer-bg {
  background: var(--cor-4);
}
.footer{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 25px;
}

.footer-conteudo{
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.footer-itens{
  display: grid;
  max-width: 30ch;
  gap: 15px;
  font: 300 1rem/1.2 'M PLUS 1', sans-serif;
}

.footer-redes-sociais{
  display: flex;
  gap: 15px;
}

.subtitulo-footer-itens{
  font: 500 1.125rem/1.2 'M PLUS 1', sans-serif;
  text-transform: capitalize;
}
.input-footer{
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}
.input-btn-footer{
  border: none;
  padding: 5px;
  border-radius: 5px;
  background:var(--cor-5);
  color: var(--cor-p1);
  text-transform: uppercase;
  cursor: pointer;
  font:600 0.6rem/1.2rem 'Red Hat Display', sans-serif;
  letter-spacing: 1.5px;
}

@media(max-width:1000px){
  .footer{
    grid-template-columns: repeat(2,1fr);
  }
}
@media(max-width:600px){
  .footer{
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .footer-itens{
    text-align: center;
    justify-items: center;
  }
}