.footer-bg {
  background:#18325E;
}
.footer{
  display:flex;
  flex-direction: column;
  gap: 150px;
  padding: 100px 0px;
}
.footer img{
  max-width: 50px;
}
.footer-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-list{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 80px;
}
.footer-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.footer-content .subtitle{
  max-width: 15ch;
}
.footer-list ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--cor-black);
}
.footer-input{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 40ch;
}
.redes-sociais{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.redes-sociais ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.footer-termos{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.footer .links-menu li a:hover{
  border-color: var(--cor-black);
}
@media(max-width:1100px){
  .footer-content{
  flex-direction: column;
  align-items: center;
  gap: 60px;
  text-align: center;
  }
  .footer-list{
    gap: 40px;
    text-align: initial;
  }
  .footer-content .subtitle{
    text-align: center;
  }
}