.header-bg {
  background: linear-gradient(to right, #172D52 0%,#1F55B2 50%, #3F98E1 100%);
}
.header,
.header-nav,
.header-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.header-nav{
  justify-content: center;
}
.header-nav .links-menu{
  color: var(--cor-white);
}
.header .links-menu li a:hover{
  border-color: var(--cor-white);
}
@media (max-width: 1100px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-nav{
    gap: 10px;
  }
  .header-container {
    width: auto;
    gap: 10px;
  }
  .header-menu {
    display: block;
    position: absolute;
    width: 330px;
    top: 0;
    left: 0;
    height: 0;
    padding-left: 30px;
    transition: 0.6s;
    overflow-y: hidden;
    visibility: hidden;
    z-index: 3;
  }
  [data-menu="suave"].ativo [data-menu="itens"] {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding-top: 40px;
    gap: 50px;
    min-height: 100vh;
    overflow-y: auto;
    visibility: visible;
    color: #172D52;
    background-color: var(--cor-white);
  }
  .header .links-menu li a:hover{
    border-color: #2993EA;
  }
}
