.produtos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    justify-items: center;
    align-items: top;
}
.produtos-item{
    display: grid;
    align-content: flex-start;
    gap: 20px;
}
@media(max-width:1150px){
    .produtos{
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
}
@media(max-width:650px){
    .produtos{
        grid-template-columns:1fr;
        gap: 60px;
    }
    .produtos-item{
        justify-items: center;
        text-align: center;
    }
    .produtos-item p{
        max-width:50ch;
    }
}