.contato-bg {
  background: var(--cor-3);
}
.contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  gap: 50px;
  color: var(--cor-p1);
}
.contato h1 {
  max-width: 25ch;
}
.contato span {
  text-transform: uppercase;
}
.contato p {
  max-width: 90ch;
}
@media (max-width: 1000px) {
  .contato h1 {
    font-size: 50px;
  }
}
