.vantagens {
  display: grid;
  gap: 50px;
}
.vantagens-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.vantagens-itens {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 15px;
  padding: 30px;
  border-radius: 50px;
}
.vantagens-itens div {
  display: grid;
  gap: 30px;
}
.item-1 {
  grid-template-columns: 1fr 1fr;
  background: url(../../img/background/background-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 2px 8px 0 #0000009f;
}
.item-2,
.item-3 {
  grid-template-columns: 1fr;
  box-shadow: 0px 2px 8px 0 #0000009f;
}
.item-2 {
  background: url(../../img/background/background-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item-3 {
  background: url(../../img/background/background-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1000px) {
  .vantagens-conteudo {
    grid-template-columns: 1fr;
  }
  .item-1 {
    grid-template-columns: 1fr;
  }
}
