.vantagens{
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.vantagens-item-left{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}
.vantagens-item-left div{
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 60px;
  text-align: left;
}
.vantagens-item-right{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}
  .vantagens-item-right div{
  grid-column: 1;
  grid-row: 1;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

@media(max-width:1000px){
  .vantagens-item-left,
  .vantagens-item-right{
    grid-template-columns: 1fr;
  }
  .vantagens-item-left div,
  .vantagens-item-right div{
    grid-column: auto;
    align-items: start;
    text-align: left;
  }
}