.rendimentos-bg{
    background: var(--cor-4);
}
.rendimentos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 50px;
}
.rendimentos-conteudo{
    display: grid;
    align-items: center;
    gap: 30px;
}

@media(max-width:1000px){
    .rendimentos{
        grid-template-columns: 1fr;
    }
    .rendimentos-conteudo p{
       max-width: 60ch;
    }
}