.bandeiras-bg{
    background: var(--cor-4);
}
.bandeiras{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
}
@media(max-width:650px){
    .bandeiras{
        justify-content: space-around;
        align-items: top;
    }
}