.js [data-anime] {
  opacity: 0;
  transition: .8s linear;
}
/* Scroll animação para Baixo */
.js [data-anime="down"] {
  transform: translate3d(0, -50px, 0);
}

/* Scroll animação para Cima */
.js [data-anime="up"] {
  transform: translate3d(0, 50px, 0);
}
.js [data-anime="up"]:nth-child(2){
  transition-delay: 200ms;
}
.js [data-anime="up"]:nth-child(3){
  transition-delay: 400ms;
}
.js [data-anime="up"]:nth-child(4){
  transition-delay: 600ms;
}

/* Scroll animação para Esquerda */
.js [data-anime="left"] {
  transform: translate3d(-50px, 0, 0);
}
.js [data-anime="left"]:nth-child(2){
  transition-delay: 200ms;
}
.js [data-anime="left"]:nth-child(3){
  transition-delay: 400ms;
}
.js [data-anime="left"]:nth-child(4){
  transition-delay: 600ms;
}

/* Scroll animação para Direita */
.js [data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}
.js [data-anime="right"]:nth-child(2){
  transition-delay: 200ms;
}
.js [data-anime="right"]:nth-child(3){
  transition-delay: 400ms;
}
.js [data-anime="right"]:nth-child(4){
  transition-delay: 600ms;
}
.js [data-anime="right"]:nth-child(5){
  transition-delay: 800ms;
}
.js [data-anime="right"]:nth-child(6){
  transition-delay: 1000ms;
}
/* global scroll */
.js [data-anime].animate {
      opacity: 1;
      transform: translate3d(0,0,0);
      overflow: hidden;
}
@media(max-width:1280px){
  .js [data-anime="up"] {
    transform: translate3d(0, 20px, 0);
  }
  .js [data-anime="down"] {
    transform: translate3d(0, -20px, 0);
  }
  .js [data-anime="left"] {
    transform: translate3d(-20px, 0, 0);
  }
  .js [data-anime="right"] {
    transform: translate3d(20px, 0, 0);
  }
}
@media(max-width:400px){
  .js [data-anime="up"] {
    transform: translate3d(0, 15px, 0);
  }
  .js [data-anime="down"] {
    transform: translate3d(0, -15px, 0);
  }
  .js [data-anime="left"] {
    transform: translate3d(-15px, 0, 0);
  }
  .js [data-anime="right"] {
    transform: translate3d(15px, 0, 0);
  }
}