.container {
  max-width: 1280px;
  padding: 50px 30px;
  margin-left: auto;
  margin-right: auto;
}
.titulo-1 {
  font: 300 4.5rem/1.1 "M PLUS 1", sans-serif;
  color: var(--cor-p1);
}
.titulo-2 {
  font: 300 3rem/1.2 "M PLUS 1", sans-serif;
}
.span-txt1 {
  font: 500 1rem/1.2 "M PLUS 1", sans-serif;
  text-transform: uppercase;
  color: var(--cor-p1);
  width: max-content;
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.span-txt1 .link {
  color: var(--cor-1);
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .titulo-1 {
    font: 300 3.7rem/1.1 "M PLUS 1", sans-serif;
  }
}
