.font-1-xs{
  font: 300 1rem/1.2 'M PLUS 1', sans-serif;
}
.font-1-s,
.font-1-sb{
  font: 300 1.125rem/1.2 'M PLUS 1', sans-serif;
}
.font-1-sb{
  font-weight: 500;
}
.font-1-m,
.font-1-mb{
  font: 300 1.5rem/1.2 'M PLUS 1', sans-serif;
}
.font-1-mb{
  font-weight: 400;
}
.font-1-l,
.font-1-lb{
  font: 300 2rem/1.2 'M PLUS 1', sans-serif;
}
.font-1-lb{
  font-weight: 500;
}
.font-1-xl,
.font-1-xlb{
  font: 300 3rem/1.2 'M PLUS 1', sans-serif;
}
.font-1-xlb{
  font-weight: 400;
}
.font-1-xxl{
  font: 300 4rem/1.2 'M PLUS 1', sans-serif;
}
.font-1-exl{
  font: 300 4.5rem/1.1 'M PLUS 1', sans-serif;
}
.font-2-xs{
  font:300 0.8rem/1.2rem 'Red Hat Display', sans-serif;
}
.font-2-s{
  font:300 1rem/1.2rem 'Red Hat Display', sans-serif;
}